@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  src: url("./styles/fonts/NanumSquareR.ttf") format("truetype"),
    url("./styles/fonts/NanumSquareR.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "NanumSquare";
  /* 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   */
  line-height: 1;
  overflow: hidden;
  /* touch-action: none; */
}

.sb-main-padded.sb-show-main {
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #2d4b9e transparent;
  scrollbar-width: thin;
} */

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #2d4b9e;
}

::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

*:focus {
  outline: none;
}
